In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('dea_data.csv')
df.head()

,Gene,Control1,Control2,Control3,Control4,Control5,Control6,Control7,Control8,Control9,...,Treatment16,Treatment17,Treatment18,Treatment19,Treatment20,Treatment21,Treatment22,Treatment23,Treatment24,Treatment25
0,Gene1,56,97,19,76,65,25,87,91,79,...,55,59,68,7,55,11,25,77,43,22
1,Gene2,8,93,64,18,13,94,57,6,88,...,91,66,44,89,84,86,57,28,30,93
2,Gene3,64,45,33,19,49,69,93,75,13,...,82,7,5,9,94,18,31,13,83,19
3,Gene4,94,46,81,55,67,56,8,98,27,...,74,76,31,13,66,41,55,48,28,83
4,Gene5,63,36,92,56,66,62,56,16,43,...,77,63,74,84,97,7,24,63,40,23

In [32]:
genes = df['Gene']

df.describe()

,Control1,Control2,Control3,Control4,Control5,Control6,Control7,Control8,Control9,Control10,...,Treatment20,Treatment21,Treatment22,Treatment23,Treatment24,Treatment25,Control Mean,Treatment Mean,Fold_Change,log2FC
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,50.750000,51.070000,51.560000,54.760000,49.230000,53.500000,53.330000,55.340000,53.680000,49.940000,...,57.510000,47.100000,54.130000,51.330000,51.130000,45.910000,51.520400,51.026000,1.001719,-0.013712
std,30.049244,29.373339,28.228619,25.243509,28.817382,25.742901,27.448043,26.296376,28.451937,29.238421,...,26.962186,26.478312,26.426821,28.009037,29.068938,26.601471,5.235455,5.120632,0.152905,0.216372
min,5.000000,5.000000,5.000000,8.000000,5.000000,6.000000,5.000000,6.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,7.000000,6.000000,5.000000,36.920000,38.480000,0.672814,-0.571720
25%,20.750000,21.750000,27.500000,33.500000,20.750000,32.500000,27.750000,36.000000,29.000000,29.250000,...,31.500000,24.000000,32.750000,23.500000,27.000000,23.000000,48.260000,47.900000,0.899006,-0.153604
50%,51.500000,54.000000,51.000000,55.500000,49.000000,53.000000,59.000000,57.000000,52.500000,46.500000,...,61.000000,45.500000,55.000000,53.500000,47.500000,44.000000,51.240000,51.140000,0.958620,-0.060971
75%,77.250000,78.000000,76.000000,76.000000,71.500000,76.000000,75.250000,75.500000,79.500000,70.250000,...,81.000000,64.250000,73.500000,77.250000,77.250000,66.500000,54.310000,54.120000,1.090626,0.125141
max,98.000000,99.000000,99.000000,96.000000,99.000000,99.000000,97.000000,99.000000,99.000000,99.000000,...,97.000000,99.000000,98.000000,99.000000,98.000000,98.000000,64.880000,64.400000,1.442037,0.528108

In [33]:
# Identify Columns

control_cols = [c for c in df.columns if 'Control' in c]
treatment_cols = [c for c in df.columns if 'Treatment' in c]

display("Control Colums: ", df[control_cols])
display("Treatment Columns: ", df[treatment_cols])

'Control Colums: '

,Control1,Control2,Control3,Control4,Control5,Control6,Control7,Control8,Control9,Control10,...,Control17,Control18,Control19,Control20,Control21,Control22,Control23,Control24,Control25,Control Mean
0,56,97,19,76,65,25,87,91,79,79,...,92,34,42,6,68,64,25,37,80,53.52
1,8,93,64,18,13,94,57,6,88,96,...,82,85,40,54,8,6,10,58,8,47.08
2,64,45,33,19,49,69,93,75,13,92,...,12,39,39,37,9,45,32,11,77,45.16
3,94,46,81,55,67,56,8,98,27,19,...,63,90,32,70,46,49,66,61,10,51.44
4,63,36,92,56,66,62,56,16,43,6,...,96,58,91,5,23,6,57,48,94,48.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,84,71,34,61,90,77,33,41,91,17,...,70,10,22,98,26,37,34,85,36,51.56
96,69,33,54,17,5,38,97,52,81,52,...,30,21,75,17,73,30,53,71,11,49.32
97,75,82,33,87,23,70,45,49,19,7,...,55,52,70,12,26,10,80,61,40,45.40
98,64,79,99,95,34,6,66,53,13,96,...,12,77,62,49,66,43,62,85,87,58.08
99,65,17,15,58,20,12,63,61,44,63,...,15,83,84,85,94,6,54,16,94,51.72

'Treatment Columns: '

,Treatment1,Treatment2,Treatment3,Treatment4,Treatment5,Treatment6,Treatment7,Treatment8,Treatment9,Treatment10,...,Treatment17,Treatment18,Treatment19,Treatment20,Treatment21,Treatment22,Treatment23,Treatment24,Treatment25,Treatment Mean
0,62,26,93,53,95,63,46,96,64,84,...,59,68,7,55,11,25,77,43,22,54.88
1,58,97,67,22,94,48,38,78,66,18,...,66,44,89,84,86,57,28,30,93,63.28
2,76,16,38,37,52,27,66,92,41,48,...,7,5,9,94,18,31,13,83,19,47.92
3,32,32,48,88,34,66,79,96,93,66,...,76,31,13,66,41,55,48,28,83,53.56
4,36,74,36,72,59,79,60,21,42,28,...,63,74,84,97,7,24,63,40,23,53.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,46,82,14,40,38,77,32,15,82,43,...,13,51,37,66,23,71,78,44,51,45.28
96,62,53,57,69,66,21,47,29,7,83,...,32,77,60,69,97,90,84,45,55,52.36
97,83,96,61,53,49,86,70,81,49,83,...,7,58,82,68,44,63,59,66,8,64.40
98,68,48,33,63,75,96,13,96,10,33,...,25,68,94,40,90,66,46,80,46,55.60
99,27,22,66,66,42,71,42,71,98,65,...,31,11,26,78,57,83,83,8,27,48.00

In [34]:
# Calculate mean

df['Control Mean'] = df[control_cols].mean(axis=1)
df['Treatment Mean'] = df[treatment_cols].mean(axis=1)

display("Control Mean: ", df['Control Mean'])
display("Treatment Mean: ", df['Treatment Mean'])

'Control Mean: '

0     53.52
1     47.08
2     45.16
3     51.44
4     48.04
      ...
95    51.56
96    49.32
97    45.40
98    58.08
99    51.72
Name: Control Mean, Length: 100, dtype: float64

'Treatment Mean: '

0     54.88
1     63.28
2     47.92
3     53.56
4     53.24
      ...
95    45.28
96    52.36
97    64.40
98    55.60
99    48.00
Name: Treatment Mean, Length: 100, dtype: float64

In [35]:
# Fold Change

epsilon = 1e-6
df['Fold_Change'] = (df['Treatment Mean'] + epsilon) / (df['Control Mean'] + epsilon)
df['log2FC'] = np.log2(df['Fold_Change'])

display("Fold Change: ", df['Fold_Change'])
display("log2 Fold Change: ", df['log2FC'])

'Fold Change: '

0     1.025411
1     1.344095
2     1.061116
3     1.041213
4     1.108243
        ...
95    0.878200
96    1.061638
97    1.418502
98    0.957300
99    0.928074
Name: Fold_Change, Length: 100, dtype: float64

'log2 Fold Change: '

0     0.036202
1     0.426635
2     0.085582
3     0.058265
4     0.148274
        ...
95   -0.187378
96    0.086292
97    0.504368
98   -0.062957
99   -0.107688
Name: log2FC, Length: 100, dtype: float64

In [36]:
# Classify Gene

def classify(fc):
    if fc > 1:
        return 'Up_regulated'
    elif fc <-1:
        return 'Down_regulated'
    else:
        return 'No_change'
    
status = df['Fold_Change'].apply(classify)

In [39]:
# Create result table

dea_results = pd.DataFrame({
    'Gene': genes,
    'Control Mean': df['Control Mean'],
    'Treatment Mean': df['Treatment Mean'],
    'Fold Change': df['Fold_Change'],
    'log2 Fold Change': df['log2FC'],
    'Status': status
})

display(dea_results)

,Gene,Control Mean,Treatment Mean,Fold Change,log2 Fold Change,Status
0,Gene1,53.52,54.88,1.025411,0.036202,Up_regulated
1,Gene2,47.08,63.28,1.344095,0.426635,Up_regulated
2,Gene3,45.16,47.92,1.061116,0.085582,Up_regulated
3,Gene4,51.44,53.56,1.041213,0.058265,Up_regulated
4,Gene5,48.04,53.24,1.108243,0.148274,Up_regulated
...,...,...,...,...,...,...
95,Gene96,51.56,45.28,0.878200,-0.187378,No_change
96,Gene97,49.32,52.36,1.061638,0.086292,Up_regulated
97,Gene98,45.40,64.40,1.418502,0.504368,Up_regulated
98,Gene99,58.08,55.60,0.957300,-0.062957,No_change
99,Gene100,51.72,48.00,0.928074,-0.107688,No_change

In [41]:
# save results

dea_results.to_csv('dea_results.csv', index=False)